<h2 class="page-header">Daschboard</h2>
<p> Cela fonctionne t il </p> 

<!-- contenu intérieur de la page  --- modifiable a volonté hors barre de navigation -->


<h2 class="page-header">Daschboard</h2>
<p>Bienvenue sur le daschboard</p>

<p>A développer</p>


